#khungThanhToan{
	margin-left:auto;
	margin-right:auto;
	margin-top:85px;
	width:1200px;
	height:700px;

	border:1px solid #d2dbd4;
}
#tieuDe{
	background-color:#07b5ef;
	height:80px;
	
	padding-top:5px;
	padding-left:20px;
	
}
#tieuDe h2{
	color:white;
}
#submitThanhToan{
margin-top:20px;
	clear:both;
	float:right;
	background:yellow;
	width:200px;
	height:50px;
	
}
.hinhThuc div {

 


 	background:light-gray;
	width:100%;
	text-align:center;
    cursor:pointer;
}

div.selected {
    background:#07b5ef;
}

#content1,#content2{
	overflow:auto;
	
	margin-top: -10px;
	
}
#content1{
	border-bottom:1px solid #d2dbd4;
		height:500px;
}
#content2{
		height:560px;
}
#content1>div>p{
	color:red;
	font-size:18px;
}
#layout1,#layout2,#layout3{
	
	width:399px;

	height:620px;
	float:left;
}
#layout1,#layout2{
	border-right:1px solid #d2dbd4;
}
#layout2>p ,#layout1>p,#layout3>p {
	border-bottom:1px solid #d2dbd4;
	height:50px;
	text-align:center;
	padding-top:15px;
	color:#07b5ef;
}
.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}